.accueil-intro {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: auto;
}

.accueil-intro img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 600px;
}

.accueil-intro h1 {
    margin-bottom: 20px;
}

.accueil-intro p {
    margin-bottom: 20px;
}

.accueil-intro div {
    padding-right: 80px;
}

.accueil-photos {
    background-color: white;
}

.cut-footer {
    background: linear-gradient(90deg, rgba(129,157,215,1) 0%, rgba(102,196,215,1) 48%,
     rgba(197,225,231,1)100%);
}